<app-breadcrumbs [breadcrumbItems]="breadCrumbItems" ></app-breadcrumbs>
<div class="card product-card-grid-menu">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-card-hrid-border">
                    <p class="text-muted">Total Products</p>
                    <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0"><span class="counter-value" [countUp]="184">0</span></h4>
                        <p class="mb-0 text-muted"><span
                                class="flex-shrink-0 badge bg-success-subtle text-success rounded-pill"><i
                                    class="ph ph-trend-up align-middle me-1"></i> 0.2%</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-card-hrid-border">
                    <p class="text-muted">Total Orders</p>
                    <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0"><span class="counter-value" [countUp]="7115">0</span></h4>
                        <p class="mb-0 text-muted"><span
                                class="flex-shrink-0 badge bg-success-subtle text-success rounded-pill"><i
                                    class="ph ph-trend-up align-middle me-1"></i> 1.5%</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-card-hrid-border">
                    <p class="text-muted">Total Stock</p>
                    <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0">$<span class="counter-value" [countUp]="218.36">0</span>k</h4>
                        <p class="mb-0 text-muted"><span
                                class="flex-shrink-0 badge bg-danger-subtle text-danger rounded-pill"><i
                                    class="ph ph-trend-up align-middle me-1"></i> 0.8%</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-card-hrid-border">
                    <p class="text-muted">Net Profit</p>
                    <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0">$<span class="counter-value" [countUp]="564.95">0</span>M</h4>
                        <p class="mb-0 text-muted"><span
                                class="flex-shrink-0 badge bg-success-subtle text-success rounded-pill"><i
                                    class="ph ph-trend-up align-middle me-1"></i> 2.4%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="productList">

    <div class="row">
        <div class="col-lg-12">
            <div>
                <div class="mb-2 d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h5 class="card-title mb-0">Products</h5>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="d-flex flex-wrap align-items-start gap-2">
                            <button class="btn btn-danger d-none" id="remove-actions"><i
                                    class="ri-delete-bin-2-line"></i></button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table-responsive">
                        <table class="table table-custom align-middle table-borderless table-nowrap">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="option"
                                                id="checkAll">
                                            <label class="form-check-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th class="sort cursor-pointer" data-sort="products">Products</th>
                                    <th class="sort cursor-pointer" data-sort="category">Category</th>
                                    <th class="sort cursor-pointer" data-sort="stock">Stock</th>
                                    <th class="sort cursor-pointer" data-sort="price">Price</th>
                                    <th class="sort cursor-pointer" data-sort="orders">Orders</th>
                                    <th class="sort cursor-pointer" data-sort="rating">Rating</th>
                                    <th class="sort cursor-pointer" data-sort="published">Published</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#TB14</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2"> <img
                                                    src="assets/images/products/img-7.png" alt="img-7.png"
                                                    class="img-fluid d-block product-img"> </div>
                                            <div>
                                                <h6 class="mb-0"><a href="apps-ecommerce-product-details.html"
                                                        class="text-reset text-capitalize product-title">Cotton collar
                                                        tshirts for men</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">0%</td>
                                    <td class="category">Fashion</td>
                                    <td class="stock">12</td>
                                    <td class="price">$180.00</td>
                                    <td class="orders">10</td>
                                    <td class="rating"><span class="badge bg-warning-subtle text-warning"><i
                                                class="bi bi-star-fill align-baseline me-1"></i> <span
                                                class="rate">4.0</span></span></td>
                                    <td class="published">15 May, 2021</td>
                                    <td>
                                        <div class="dropdown position-static">
                                            <button class="btn btn-subtle-secondary btn-sm btn-icon" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="apps-ecommerce-product-details.html"><i
                                                            class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal"
                                                        href="#showModal"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        href="#deleteRecordModal"><i
                                                            class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#TB13</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2"> <img
                                                    src="assets/images/products/img-4.png" alt="img-4.png"
                                                    class="img-fluid d-block product-img"> </div>
                                            <div>
                                                <h6 class="mb-0"><a href="apps-ecommerce-product-details.html"
                                                        class="text-reset text-capitalize product-title">Super Bass
                                                        Blutooth wireless headphone</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">0%</td>
                                    <td class="category">Headphones</td>
                                    <td class="stock">23</td>
                                    <td class="price">$180.00</td>
                                    <td class="orders">19</td>
                                    <td class="rating"><span class="badge bg-warning-subtle text-warning"><i
                                                class="bi bi-star-fill align-baseline me-1"></i> <span
                                                class="rate">4.1</span></span></td>
                                    <td class="published">19 Apr, 2021</td>
                                    <td>
                                        <div class="dropdown position-static">
                                            <button class="btn btn-subtle-secondary btn-sm btn-icon" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="apps-ecommerce-product-details.html"><i
                                                            class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal"
                                                        href="#showModal"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        href="#deleteRecordModal"><i
                                                            class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#TB12</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2"> <img
                                                    src="assets/images/products/img-12.png" alt="img-12.png"
                                                    class="img-fluid d-block product-img"> </div>
                                            <div>
                                                <h6 class="mb-0"><a href="apps-ecommerce-product-details.html"
                                                        class="text-reset text-capitalize product-title">MAG back to the
                                                        future shoes</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">0%</td>
                                    <td class="category">Footwear</td>
                                    <td class="stock">06</td>
                                    <td class="price">$274.99</td>
                                    <td class="orders">06</td>
                                    <td class="rating"><span class="badge bg-warning-subtle text-warning"><i
                                                class="bi bi-star-fill align-baseline me-1"></i> <span
                                                class="rate">4.2</span></span></td>
                                    <td class="published">06 Jan, 2021</td>
                                    <td>
                                        <div class="dropdown position-static">
                                            <button class="btn btn-subtle-secondary btn-sm btn-icon" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="apps-ecommerce-product-details.html"><i
                                                            class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal"
                                                        href="#showModal"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        href="#deleteRecordModal"><i
                                                            class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#TB11</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2"> <img
                                                    src="assets/images/products/img-11.png" alt="img-11.png"
                                                    class="img-fluid d-block product-img"> </div>
                                            <div>
                                                <h6 class="mb-0"><a href="apps-ecommerce-product-details.html"
                                                        class="text-reset text-capitalize product-title">Jeans blue men
                                                        boxer</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">25%</td>
                                    <td class="category">Fashion</td>
                                    <td class="stock">50</td>
                                    <td class="price">$97.99</td>
                                    <td class="orders">51</td>
                                    <td class="rating"><span class="badge bg-warning-subtle text-warning"><i
                                                class="bi bi-star-fill align-baseline me-1"></i> <span
                                                class="rate">3.9</span></span></td>
                                    <td class="published">12 Oct, 2021</td>
                                    <td>
                                        <div class="dropdown position-static">
                                            <button class="btn btn-subtle-secondary btn-sm btn-icon" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="apps-ecommerce-product-details.html"><i
                                                            class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal"
                                                        href="#showModal"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        href="#deleteRecordModal"><i
                                                            class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#TB10</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2"> <img
                                                    src="assets/images/products/img-9.png" alt="img-9.png"
                                                    class="img-fluid d-block product-img"> </div>
                                            <div>
                                                <h6 class="mb-0"><a href="apps-ecommerce-product-details.html"
                                                        class="text-reset text-capitalize product-title">Flip-Flops and
                                                        House Slippers</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">0%</td>
                                    <td class="category">Footwear</td>
                                    <td class="stock">30</td>
                                    <td class="price">$150.00</td>
                                    <td class="orders">10</td>
                                    <td class="rating"><span class="badge bg-warning-subtle text-warning"><i
                                                class="bi bi-star-fill align-baseline me-1"></i> <span
                                                class="rate">4.2</span></span></td>
                                    <td class="published">06 Jan, 2023</td>
                                    <td>
                                        <div class="dropdown position-static">
                                            <button class="btn btn-subtle-secondary btn-sm btn-icon" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="apps-ecommerce-product-details.html"><i
                                                            class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal"
                                                        href="#showModal"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        href="#deleteRecordModal"><i
                                                            class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#TB9</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2"> <img
                                                    src="assets/images/products/img-10.png" alt="img-10.png"
                                                    class="img-fluid d-block product-img"> </div>
                                            <div>
                                                <h6 class="mb-0"><a href="apps-ecommerce-product-details.html"
                                                        class="text-reset text-capitalize product-title">Men's Round
                                                        Neck Half Sleeves Solid T-Shirt</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">0%</td>
                                    <td class="category">Fashion</td>
                                    <td class="stock">21</td>
                                    <td class="price">$160.00</td>
                                    <td class="orders">08</td>
                                    <td class="rating"><span class="badge bg-warning-subtle text-warning"><i
                                                class="bi bi-star-fill align-baseline me-1"></i> <span
                                                class="rate">4.4</span></span></td>
                                    <td class="published">15 Jan, 2021</td>
                                    <td>
                                        <div class="dropdown position-static">
                                            <button class="btn btn-subtle-secondary btn-sm btn-icon" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="apps-ecommerce-product-details.html"><i
                                                            class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal"
                                                        href="#showModal"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        href="#deleteRecordModal"><i
                                                            class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#TB8</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2"> <img
                                                    src="assets/images/products/img-8.png" alt="img-8.png"
                                                    class="img-fluid d-block product-img"> </div>
                                            <div>
                                                <h6 class="mb-0"><a href="apps-ecommerce-product-details.html"
                                                        class="text-reset text-capitalize product-title">Full Sleeve
                                                        Solid Men Sweatshirt/Hoody</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">12%</td>
                                    <td class="category">Fashion</td>
                                    <td class="stock">20</td>
                                    <td class="price">$260.00</td>
                                    <td class="orders">20</td>
                                    <td class="rating"><span class="badge bg-warning-subtle text-warning"><i
                                                class="bi bi-star-fill align-baseline me-1"></i> <span
                                                class="rate">4.1</span></span></td>
                                    <td class="published">21 Jun, 2021</td>
                                    <td>
                                        <div class="dropdown position-static">
                                            <button class="btn btn-subtle-secondary btn-sm btn-icon" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="apps-ecommerce-product-details.html"><i
                                                            class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal"
                                                        href="#showModal"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        href="#deleteRecordModal"><i
                                                            class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#TB7</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2"> <img
                                                    src="assets/images/products/img-7.png" alt="img-7.png"
                                                    class="img-fluid d-block product-img"> </div>
                                            <div>
                                                <h6 class="mb-0"><a href="apps-ecommerce-product-details.html"
                                                        class="text-reset text-capitalize product-title">Cotton collar
                                                        tshirts for men</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">0%</td>
                                    <td class="category">Fashion</td>
                                    <td class="stock">12</td>
                                    <td class="price">$180.00</td>
                                    <td class="orders">10</td>
                                    <td class="rating"><span class="badge bg-warning-subtle text-warning"><i
                                                class="bi bi-star-fill align-baseline me-1"></i> <span
                                                class="rate">4.0</span></span></td>
                                    <td class="published">15 May, 2021</td>
                                    <td>
                                        <div class="dropdown position-static">
                                            <button class="btn btn-subtle-secondary btn-sm btn-icon" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="apps-ecommerce-product-details.html"><i
                                                            class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal"
                                                        href="#showModal"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        href="#deleteRecordModal"><i
                                                            class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#TB6</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2"> <img
                                                    src="assets/images/products/img-6.png" alt="img-6.png"
                                                    class="img-fluid d-block product-img"> </div>
                                            <div>
                                                <h6 class="mb-0"><a href="apps-ecommerce-product-details.html"
                                                        class="text-reset text-capitalize product-title">Blive Printed
                                                        Men Round Neck</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">0%</td>
                                    <td class="category">Fashion</td>
                                    <td class="stock">35</td>
                                    <td class="price">$250.00</td>
                                    <td class="orders">02</td>
                                    <td class="rating"><span class="badge bg-warning-subtle text-warning"><i
                                                class="bi bi-star-fill align-baseline me-1"></i> <span
                                                class="rate">3.8</span></span></td>
                                    <td class="published">12 Oct, 2021</td>
                                    <td>
                                        <div class="dropdown position-static">
                                            <button class="btn btn-subtle-secondary btn-sm btn-icon" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="apps-ecommerce-product-details.html"><i
                                                            class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal"
                                                        href="#showModal"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        href="#deleteRecordModal"><i
                                                            class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="chk_child">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);"
                                            class="fw-medium link-primary">#TB5</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2"> <img
                                                    src="assets/images/products/img-5.png" alt="img-5.png"
                                                    class="img-fluid d-block product-img"> </div>
                                            <div>
                                                <h6 class="mb-0"><a href="apps-ecommerce-product-details.html"
                                                        class="text-reset text-capitalize product-title">Willage
                                                        Volleyball Ball Size 4</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">10%</td>
                                    <td class="category">Sports</td>
                                    <td class="stock">30</td>
                                    <td class="price">$99.00</td>
                                    <td class="orders">21</td>
                                    <td class="rating"><span class="badge bg-warning-subtle text-warning"><i
                                                class="bi bi-star-fill align-baseline me-1"></i> <span
                                                class="rate">4.0</span></span></td>
                                    <td class="published">30 Mar, 2021</td>
                                    <td>
                                        <div class="dropdown position-static">
                                            <button class="btn btn-subtle-secondary btn-sm btn-icon" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="apps-ecommerce-product-details.html"><i
                                                            class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" data-bs-toggle="modal"
                                                        href="#showModal"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                        href="#deleteRecordModal"><i
                                                            class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="noresult" style="display: none">
                        <div class="text-center py-4">
                            <div class="avatar-md mx-auto mb-4">
                                <div class="avatar-title bg-light text-primary rounded-circle fs-4xl">
                                    <i class="bi bi-search"></i>
                                </div>
                            </div>
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">We've searched more than 150+ products We did not find any
                                products for you search.</p>
                        </div>
                    </div>
                    <!-- end noresult -->

                    <div class="row mb-4 align-items-center" id="pagination-element">
                        <div class="col-sm">
                            <div class="text-muted text-center text-sm-start">
                                Showing <span class="fw-semibold">10</span> of <span class="fw-semibold">35</span>
                                Results
                            </div>
                        </div>

                        <div class="col-sm-auto mt-3 mt-sm-0">
                            <ul class="pagination pagination-separated mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link">← Pre</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link">Next →</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end pagination-element -->
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div>