<section
    class="auth-page-wrapper p-2 p-lg-4 position-relative d-flex align-items-center justify-content-center min-vh-100">
    <div class="card mb-0 w-100 p-3 p-lg-2"
        style="background-image: url('assets/images/auth/auth.jpg');background-size: cover;background-position: center;">
        <div class="effect-one"></div>
        <div class="row g-0 align-items-center">
            <div class="col-xxl-8 order-last order-xl-first">
                <div class="card auth-card border-0 shadow-none mb-0 bg-transparent">
                    <div class="card-body p-4 p-xl-5 d-flex justify-content-between flex-column h-100">

                        <div class="text-center mt-auto">
                            <p class="mb-0 mt-3 text-white">
                                ©
                                {{currentYear}} Dosix. Crafted with <i
                                    class="mdi mdi-heart text-danger"></i> by Themesbrand
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-xxl-4 mx-auto">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>