<div class="card shadow-lg border-none m-lg-5">
    <div class="card-body">
        <div class="text-center mt-4">
            <div class="mb-4 pb-2">
                <a routerLink="/pages" class="auth-logo">
                    <img src="assets/images/logo-dark.png" alt="" height="30" class="auth-logo-dark mx-auto">
                    <img src="assets/images/logo-light.png" alt="" height="30" class="auth-logo-light mx-auto">
                </a>
            </div>
        </div>
        <div class="display-6 text-center">
            <i class="bi bi-box-arrow-right"></i>
        </div>
        <div class="p-2 mt-4 text-center">
            <h5 class="fs-2xl">You are Logged Out</h5>
            <p class="text-muted">Thank you for using <span class="fw-semibold">dosix</span> admin template</p>
            <div class="mt-4">
                <a routerLink="/auth" class="btn btn-primary w-100">Sign In</a>
            </div>
        </div>
    </div><!-- end card body -->
</div>