<div class="card shadow-lg border-none m-lg-5">
    <div class="card-body">
        <div class="text-center">
            <div class="mb-2 text-center mt-3">
                <a routerLink="/pages" class="auth-logo">
                    <img src="assets/images/logo-dark.png" alt="" height="30" class="auth-logo-dark mx-auto">
                    <img src="assets/images/logo-light.png" alt="" height="30" class="auth-logo-light mx-auto">
                </a>
            </div>
            <div class="error-img text-center px-5">
                <img src="assets/images/auth/offline-page.gif" class="img-fluid" alt="">
            </div>
            <h4 class="mt-2 fw-semibold">We're Currently Offline</h4>
            <p class="text-muted mb-4">We can't show you this images because you aren't connected to the internet. When
                you’re back online refresh the page or hit the button below</p>
            <button class="btn btn-primary"><i class="ri-refresh-line align-bottom"></i> Refresh</button>
        </div>
    </div><!-- end card body -->
</div>