<div class="card shadow-lg border-none m-lg-5">
    <div class="card-body">
        <div class="p-2">
            <div class="mb-4 text-center mt-3">
                <a rouuterLink="/pages" href="index.html" class="auth-logo">
                    <img src="assets/images/logo-dark.png" alt="" height="30" class="auth-logo-dark mx-auto">
                    <img src="assets/images/logo-light.png" alt="" height="30" class="auth-logo-light mx-auto">
                </a>
            </div>
            <div class="error-img text-center px-5">
                <img src="assets/images/auth/503.png" class="img-fluid" alt="">
            </div>
            <div class="mt-4 text-center pt-3">
                <div class="position-relative">
                    <h4 class="fs-2xl error-subtitle text-uppercase mb-0">Service Unavailable</h4>
                    <p class="fs-base text-muted mt-3">The service is temporarily unavailable, try again later!</p>
                </div>
            </div>
        </div>
    </div><!-- end card body -->
</div>