<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Doctors</a></li>
                    <li class="breadcrumb-item active">Staff List</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row g-3 mb-4">
    <div class="col-xxl-3">
        <div class="search-box">
            <input type="text" class="form-control search" placeholder="Search name, email, contact number etc...">
            <i class="ri-search-line search-icon"></i>
        </div>
    </div><!--end col-->
    <div class="col-xxl-auto col-sm-6 ms-auto">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#showModal"><i
                class="bi bi-plus-circle align-baseline me-1"></i> Add Staff</button>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-auto">
                        <img src="assets/images/doctor/img-01.png" alt="" class="img-fluid" style="max-height: 165px;">
                    </div>
                    <div class="col-lg">
                        <h6 class="fs-md text-secondary">Cardiology</h6>
                        <a href="#!">
                            <h5 class="fs-lg">Dr. Nicholas Ryan</h5>
                        </a>

                        <p class="text-muted">Cardiologists provide the continuing care of patients with cardiovascular
                            disease, performing basic studies.</p>

                        <div class="d-flex align-items-center flex-wrap gap-3">
                            <div>
                                <i class="bx bx-phone-call me-1 align-baseline"></i> 08664 33 67 46
                            </div>
                            <div>
                                <i class="bx bx-envelope me-1 align-middle"></i> nicholas&#64;dosix.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-auto">
                        <img src="assets/images/doctor/img-05.png" alt="" class="img-fluid" style="max-height: 165px;">
                    </div>
                    <div class="col-lg">
                        <h6 class="fs-md text-secondary">Dermatology</h6>
                        <a href="#!">
                            <h5 class="fs-lg">Dr. Matthew Shepherd</h5>
                        </a>

                        <p class="text-muted">Dermatology is an area of medicine that focuses on health issues affecting
                            the skin, hair, nails, and mucous membranes.</p>

                        <div class="d-flex align-items-center flex-wrap gap-3">
                            <div>
                                <i class="bx bx-phone-call me-1 align-baseline"></i> 040 15 45 80
                            </div>
                            <div>
                                <i class="bx bx-envelope me-1 align-middle"></i> mshepherd&#64;dosix.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-auto">
                        <img src="assets/images/doctor/img-06.png" alt="" class="img-fluid" style="max-height: 165px;">
                    </div>
                    <div class="col-lg">
                        <h6 class="fs-md text-secondary">Gynecology</h6>
                        <a href="#!">
                            <h5 class="fs-lg">Dr. Georgina Webster</h5>
                        </a>

                        <p class="text-muted">Obstetrics is a specialty that is concerned with the mother and fetus
                            during pregnancy, childbirth and the immediate postpartum period.</p>

                        <div class="d-flex align-items-center flex-wrap gap-3">
                            <div>
                                <i class="bx bx-phone-call me-1 align-baseline"></i> 02685 18 90 83
                            </div>
                            <div>
                                <i class="bx bx-envelope me-1 align-middle"></i> georgina&#64;dosix.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-auto">
                        <img src="assets/images/doctor/img-04.png" alt="" class="img-fluid" style="max-height: 165px;">
                    </div>
                    <div class="col-lg">
                        <h6 class="fs-md text-secondary">Admin &amp; Manager</h6>
                        <a href="#!">
                            <h5 class="fs-lg">Robert Young</h5>
                        </a>

                        <p class="text-muted">Operates and maintains custodial functions. Ensures security and emergency
                            preparedness procedures are implemented properly.</p>

                        <div class="d-flex align-items-center flex-wrap gap-3">
                            <div>
                                <i class="bx bx-phone-call me-1 align-baseline"></i> 03774 13 83 20
                            </div>
                            <div>
                                <i class="bx bx-envelope me-1 align-middle"></i> robert&#64;dosix.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-auto">
                        <img src="assets/images/doctor/img-01.png" alt="" class="img-fluid" style="max-height: 165px;">
                    </div>
                    <div class="col-lg">
                        <h6 class="fs-md text-secondary">Orthopedics</h6>
                        <a href="#!">
                            <h5 class="fs-lg">Dr. Kiera Barnett</h5>
                        </a>

                        <p class="text-muted">Orthopaedics is the medical specialty that focuses on injuries and
                            diseases of your body's musculoskeletal system.</p>

                        <div class="d-flex align-items-center flex-wrap gap-3">
                            <div>
                                <i class="bx bx-phone-call me-1 align-baseline"></i> 06806 40 88 18
                            </div>
                            <div>
                                <i class="bx bx-envelope me-1 align-middle"></i> drkiera&#64;dosix.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-auto">
                        <img src="assets/images/doctor/img-07.png" alt="" class="img-fluid" style="max-height: 165px;">
                    </div>
                    <div class="col-lg">
                        <h6 class="fs-md text-secondary">Receptionist One</h6>
                        <a href="#!">
                            <h5 class="fs-lg">Emily Dickinson</h5>
                        </a>

                        <p class="text-muted">I am a Emily, friendly person with five years of experience working as a
                            receptionist, where I would answer phone calls and take messages.</p>

                        <div class="d-flex align-items-center flex-wrap gap-3">
                            <div>
                                <i class="bx bx-phone-call me-1 align-baseline"></i> 04353 89 15 30
                            </div>
                            <div>
                                <i class="bx bx-envelope me-1 align-middle"></i> emilyd&#64;dosix.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-auto">
                        <img src="assets/images/doctor/img-01.png" alt="" class="img-fluid" style="max-height: 165px;">
                    </div>
                    <div class="col-lg">
                        <h6 class="fs-md text-secondary">Receptionist Two</h6>
                        <a href="#!">
                            <h5 class="fs-lg">Sophia Woodward</h5>
                        </a>

                        <p class="text-muted">I am a Sophia, friendly person with five years of experience working as a
                            receptionist, where I would answer phone calls and take messages.</p>

                        <div class="d-flex align-items-center flex-wrap gap-3">
                            <div>
                                <i class="bx bx-phone-call me-1 align-baseline"></i> 07764 58 36 62
                            </div>
                            <div>
                                <i class="bx bx-envelope me-1 align-middle"></i> sophia&#64;dosix.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-auto">
                        <img src="assets/images/doctor/img-02.png" alt="" class="img-fluid" style="max-height: 165px;">
                    </div>
                    <div class="col-lg">
                        <h6 class="fs-md text-secondary">Cardiology</h6>
                        <a href="#!">
                            <h5 class="fs-lg">Dr. Dominic Perkins</h5>
                        </a>

                        <p class="text-muted">Cardiologists provide the continuing care of patients with cardiovascular
                            disease, performing basic studies.</p>

                        <div class="d-flex align-items-center flex-wrap gap-3">
                            <div>
                                <i class="bx bx-phone-call me-1 align-baseline"></i> 0381 93 71 42
                            </div>
                            <div>
                                <i class="bx bx-envelope me-1 align-middle"></i> dr.dominic&#64;dosix.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-auto">
                        <img src="assets/images/doctor/img-03.png" alt="" class="img-fluid" style="max-height: 165px;">
                    </div>
                    <div class="col-lg">
                        <h6 class="fs-md text-secondary">Billing &amp; Finance Manager</h6>
                        <a href="#!">
                            <h5 class="fs-lg">Charlie Hayes</h5>
                        </a>

                        <p class="text-muted">Charlie Hayes is professional who is responsible for managing all
                            activities and staff in the billing function.</p>

                        <div class="d-flex align-items-center flex-wrap gap-3">
                            <div>
                                <i class="bx bx-phone-call me-1 align-baseline"></i> 04871 20 68 65
                            </div>
                            <div>
                                <i class="bx bx-envelope me-1 align-middle"></i> charliehayes&#64;dosix.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
<div class="row mb-4 align-items-center" id="pagination-element">
    <div class="col-sm">
        <div class="text-muted text-center text-sm-start">
            Showing <span class="fw-semibold">9</span> of <span class="fw-semibold">23</span> Results
        </div>
    </div>

    <div class="col-sm-auto mt-3 mt-sm-0">
        <ul class="pagination pagination-separated mb-0">
            <li class="page-item disabled">
                <a class="page-link">← Pre</a>
            </li>
            <li class="page-item">
                <a class="page-link">1</a>
            </li>
            <li class="page-item active">
                <a class="page-link">2</a>
            </li>
            <li class="page-item">
                <a class="page-link">3</a>
            </li>
            <li class="page-item">
                <a class="page-link">Next →</a>
            </li>
        </ul>
    </div>
</div>